spring:
  application:
    name: fine_dine_global_service
  datasource:
    url: jdbc:mysql://localhost:3306/fine_dine_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

file:
  upload-dir: uploads

server:
  tomcat:
    max-swallow-size: -1